/* App.css */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure full page height */
  }
  
  .main-content {
    flex: 1; /* This will make the main content area take the remaining space */
  }
  